<html>
    <head>
        <title>BarCommons - Questions List</title>
    </head>
    <body>
        <table border="1" style="width: 100%">
            <tr>
                <th>ID</th>
                <th>Rule</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Ranking</th>
                <th>Question Type</th>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.rule.title }}</td>
                    <td>{{ question.question }}</td>
                    <td>{{ question.answer }}</td>
                    <td>{{ question.ranking }}</td>
                    <td>{{ question.question_type }}</td>
                </tr>
            {% endfor %}
            <form method="POST" action="/add-question">
                <tr>
                    <td><input type="text" name="id"></input></td>
                    <td>
                        <select name="rule">
                            <option value="1">Trust Revocability</option>
                            <option value="2">Trivia</option>
                        </select>
                    </td>
                    <td><input type="text" name="question"></input></td>
                    <td><input type="text" name="answer"></input></td>
                    <td>
                        <select name="ranking">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                    <td><input type="text" name="question_type"></input>
                        <button type="submit">Add</button>
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>