<html>
    <head>
        <title>BarCommons - Questions List</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    </head>
    <body>
        <table border="1" style="width: 100%" class="table table-striped table-condensed">
            <tr>
                <th>ID</th>
                <th>Rule</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Ranking</th>
                <th>Question Type</th>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.rule.title }}</td>
                    <td>{{ question.question }}</td>
                    <td>{{ question.answer }}</td>
                    <td>{{ question.ranking }}</td>
                    <td>{{ question.question_type }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="6">
                    <br>
                    Add a new question:
                </td>
            </tr>
            <form method="POST" action="/add-question">
                <tr>
                    <td>--</td>
                    <td>
                        <select name="rule">
                            <option value="1">Trust Revocability</option>
                            <option value="2">Trivia</option>
                        </select>
                    </td>
                    <td><input type="text" name="question" style="width: 100%" placeholder="Question"></input></td>
                    <td><input type="text" name="answer" placeholder="Answer"></input></td>
                    <td>
                        <select name="ranking">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                    <td><input type="text" name="question_type" placeholder="Question Type"></input>
                        <button type="submit">Add</button>
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>