<html>
    <head>
        <title>BarCommons - Question</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <style>
            body {
                margin-left: 20px;
            }
            #answer {
                display: None;
            }
            div {
                padding-bottom: 10px;
            }
        </style>
    </head>
    <body>
        

        <h1>Here's Your Question:</h1>
        <div>Q: {{ question }}</div>
        <div id="show-answer"><button onclick="showAnswer()">Show Answer</button></div>
        <div id="answer">A: {{ answer }}</div>
        <div><a href="/question"><button>Get New Question</button></a></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>

        function showAnswer() {
            $("#answer").show();
            $("#show-answer").hide();
        }

        </script>
    </body>
</html>