<html>
    <head>
        <title>BarCommons - Rules List</title>
    </head>
    <body>
        <table border="1" style="width: 100%">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Source</th>
                <th>Subject</th>
                <th>Knowledge Level</th>
            </tr>
            {% for rule in rules %}
                <tr>
                    <td>{{ rule.id }}</td>
                    <td>{{ rule.title }}</td>
                    <td>{{ rule.description }}</td>
                    <td>{{ rule.source }}</td>
                    <td>{{ rule.subject.title }}</td>
                    <td>{{ rule.knowledge_level }}</td>
                </tr>
            {% endfor %}
            <form method="POST" action="/add-rule">
                <tr>
                    <td>--</td>
                    <td><input type="text" name="title"</input></td>
                    <td><input type="text" name="description"></input></td>
                    <td><input type="text" name="source"></input></td>
                    <td>
                        <select name="subject">
                            <option value="1">Trusts</option>
                            <option value="2">Basics</option>
                            <option value="3">Revocability</option>
                            <option value="4">Presumption</option>
                            <option value="5">General</option>
                        </select>
                    </td>
                    <td><input type="text" name="knowledge_level"></input>
                        <button type="submit">Add</button>
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>